# Binaries

build/
**/bin/
!vendor/premake/bin
bin-int/
Intermediates/



# Visual Studio files and folder

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
### Known bug from VS2022 < 17.4.5
JSON/



# Python cache
__pycache__/



# Cleaning dependencies
CMake/
[Dd]oc/
[Dd]ocs/
[Ee]xample/
[Ee]xamples/



# Logging related files
*.log



# ImGui related files
HezEngine-App/imgui.ini
