[submodule "HezEngine/vendor/HezMaths"]
	path = HezEngine/vendor/HezMaths
	url = https://github.com/Hezaerd/HezMaths.git
[submodule "HezEngine/vendor/spdlog"]
	path = HezEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
